
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: #dadada;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: #707070;
}

a:hover{
    text-decoration: underline;
    color: #d66a49
}

/*-----------------------------------HOMEPAGE-----------------------------------*/

.homepage{
    height: 100vh;
}
.headercontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #707070;

}

.header-title{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    /*border-color: black;
    border-style: solid;
    border-radius: 10px;*/
    flex-grow: 1;

}

.title{
    /*margin-left: 100px;
    margin-right: 100px;*/
    font-size: 42px;
    color: #555555;
    font-weight: 200;
}

.navlist{
    display: flex;
    width: 900px;
    /*border-color: black;
    border-style: solid;
    border-radius: 10px;*/
    flex-grow: 0;
    flex-shrink: 3;
    justify-content: space-evenly;
}

.music-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 220px;
    list-style: none;
    /*margin-left: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;*/
    border-radius: 10px;
    font-size: 15px;
    transition: 400ms ease-in-out;
    
}


.film-scoring-exercises-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 220px;
    list-style: none;
    /*margin-left: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;*/
    border-radius: 10px;
    font-size: 15px;
    transition: 400ms ease-in-out;
}

.photography-container{
    width: 220px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    list-style: none;
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;*/
    border-radius: 10px;
    font-size: 15px;

}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    /*border-color: black;
    border-style: solid;
    border-radius: 10px;*/
    

}

.nav-button{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 0px 0px;
    background-color: #dadada;
    color: #707070;
    border: solid;
    border-width: 0px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    cursor: pointer;
    flex-grow: 0;
    /*width: 90px;
    height: 30px;*/
    transition: 400ms ease-in-out;
}

.nav-button:hover{
    background-color: #707070;
    transition: 400ms ease-in-out;
    color: #dadada;
}

.coffeeicon{
    display: flex;
    padding-right: 60px;
}

/*   modal    */

:root {
    --modal-duration: 1s;

  }
  
.modal{
    display: none;
    position:fixed;
    top: 20px;
    right: 80px;
    border: 1px solid #707070;
    border-width: 1px;
    border-radius: 3px;
    z-index: 10;
    background-color: #dadada;
    width: 300px;
    max-width: 80%;
    height: 130px;
    font-size: 15px;
    color: #707070;
    background-color: #dadada;
    animation-name: modalopen;
}

.modal-content{
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.darkmode-toggle{
    cursor: pointer;
    border: 1px solid #707070;
    border-width: 1px;
    border-radius: 10px;
    background: none;
    color: #707070;
    font-size: 15px;
}

.close-button {
    margin: 0;
    padding: auto;
    cursor: pointer;
    border: 1px solid;
    border-width: 1px;
    border-radius: 20px;
    outline: none;
    background: none;
    font-size: 15px;
    color: #707070;
}

.close:hover,
.close:focus {
  color: #cf4c4c;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.modal-body{
    padding: 10px 15px;
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
}

.modal-body-text{
    padding: 10px 15px;
    margin-top: 0px;
    width: 300px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.smileyicon{
    padding: 10px 15px;
    margin-top: 0px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.home-text-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    /*border-color: black;
    border-style: solid;
    border-radius: 10px;*/
    margin-top: 220px;
    margin-bottom: 260px;
    margin-left: 200px; 
    font-size: 28px;
    line-height: 35px;
    color: #555555;

}


#music{
    height: 100%;
    color: #707070;
    padding-top: .55rem;

}

#film-scoring-exercises{
    height: 100%;
    color: #707070;
    padding-top: .55rem;
}


#photography{
    height: 100%;
    color: #707070;
    padding-top: .55rem;
}

.coming-soon{
    padding-top: 500px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;

}

/*-----------------------------------MUSIC-----------------------------------------*/

#music{
    margin-left: 200px;
    font-size: 15px;
}

.musicdescriptor{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    height: 150px;

}

.musicplayer-container{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    height: 150px;
}

.player{
    max-width: auto;
    margin: 0 auto;
    width:715px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/*-----------------------------------FILMSCORING-----------------------------------*/

#film-scoring-exercises{
    margin-left: 200px;
    font-size: 15px;
}

.videodescriptor{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    border: none;
    height: 250px;
    line-height: 20px;

}

.videoplayer-container{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    border: none;
    height: 400px;
}

.video{
    width: 100%;
    height: 100%;

}


/*-----------------------------------PHOTOGRAPHY-----------------------------------*/

#photography{
    margin-left: 200px;
    font-size: 15px;
}

.sticky-section-title{
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 40px;
}

/*    grid info     */

.grid-container {
    max-width: auto;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
  
  @media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(162px, max-content);
    }
    .col-span-twelve { grid-column: span 12; }
    .col-span-nine { grid-column: span 9; }
    .col-span-six { grid-column: span 6; }
    .col-span-five { grid-column: span 5; }
    .col-span-four { grid-column: span 4; }
    .col-span-three { grid-column: span 3; }
    .col-span-two { grid-column: span 2; }
    .row-span-three { grid-row: span 3; }
    .row-span-two { grid-row: span 2; }
  }

/*    side fixed menu    */

.side-menu{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 20px;
    top: 150px;
    left: 28px;
    padding: 10px 10px;
    color: #707070;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    z-index: 10;
}

.reveal{
    position: sticky;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 0.7s ease;
}

.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}
/*     scroll to top    */

.scrollTop{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    top: 28px;
    left: 28px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #70707000;
    color: #707070;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.footercontainer{
    text-align: right;
    gap: 10px;
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    margin-right: 1rem;

}

.footercontent{
    text-align: right;
    align-items: right;
    margin-top: 20px;
    margin-bottom: 260px;
    font-size: 15px;
    line-height: 20px;
    color: #555555;
}

.coffeeiconfooter{
    
    padding-right: 0px;
}

/*.scrollTop:hover{
    background-color: #707070;
    color: #dadada;
}*/

/*   dark mode(?)   */

/*label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
    color: #707070;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #707070;
    cursor: pointer;
    transition: 0.8s;
}
label.active:before{
    left: 24px;
    background: #707070;
}
body.night{
    background: #444444;
    color: #dadada;
}*/

