
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Questrial', sans-serif;
    background-color: #eeeeee;
    margin: 0;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: #707070;
}

a:hover{
    text-decoration: underline;
    color: #d66a49
}

/*-----------------------------------HOMEPAGE-----------------------------------*/

.homepage{
    height: 100vh;
    /*width: 100vw;*/
}
.headercontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid #707070;
    justify-content: space-around;
}

.header-title{
    margin-left: 0px;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    /*border: 1px solid #707070;*/
    flex-grow: 0;
    /*max-width: 400px;*/

}

.title{
    font-size: 50px;
    color: #555555;
    font-weight: 200;
    padding-left: 10px;
}

.navlist{
    display: flex;
    width: auto;
    max-width: 600px;
    /*flex-grow: 0;
    flex-shrink: 3;*/
    justify-content: space-evenly;
    flex-grow: 1;
    /*border: 1px solid #707070;*/
}

.music-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /*display: flex;*/
    width: 150px;
    list-style: none;
    /*margin-left: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;
    border-radius: 10px;*/
    font-size: 15px;
    transition: 400ms ease-in-out;
    
}


.film-scoring-exercises-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 150px;
    list-style: none;
    /*margin-left: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;*/
    border-radius: 10px;
    font-size: 15px;
    transition: 400ms ease-in-out;
}

.photography-container{
    width: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    list-style: none;
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-color: black;
    border-style: solid;*/
    border-radius: 10px;
    font-size: 15px;

}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    /*border: 1px solid #707070;*/
    max-width: 350px;

}

.nav-button{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 0px 0px;
    background-color: #EEEEEE;
    color: #707070;
    border: solid;
    border-width: 0px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    cursor: pointer;
    flex-grow: 0;
    /*width: 90px;
    height: 30px;*/
    transition: 400ms ease-in-out;
}

.nav-button:hover{
    background-color: #707070;
    transition: 400ms ease-in-out;
    color: #EEEEEE;
}

.coffeeicon{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
}

/*   modal    */

:root {
    --modal-duration: 1s;

  }
  
.modal{
    display: none;
    position:fixed;
    top: 200px;
    right: 40px;
    border: 1px solid #707070;
    border-width: 1px;
    border-radius: 3px;
    z-index: 10;
    background-color: #dadada;
    width: 300px;
    max-width: 80%;
    height: 130px;
    font-size: 15px;
    color: #707070;
    background-color: #EEEEEE;
    animation-name: modalopen;
}

.modal-content{
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #707070;
}

.darkmode-toggle{
    cursor: pointer;
    border: 1px solid #707070;
    border-width: 1px;
    border-radius: 10px;
    background: none;
    color: #707070;
    font-size: 15px;
}

.close-button {
    margin: 0;
    padding: auto;
    cursor: pointer;
    border: 1px solid;
    border-width: 1px;
    border-radius: 20px;
    outline: none;
    background: none;
    font-size: 15px;
    color: #707070;
}

.close:hover,
.close:focus {
  color: #cf4c4c;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.modal-body{
    padding: 10px 15px;
    margin-top: 0px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
}

.modal-body-text{
    padding: 10px 15px;
    margin-top: 0px;
    width: 300px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.smileyicon{
    padding: 10px 15px;
    margin-top: 0px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.home-text-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /*border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;*/
    margin-top: 150px;
    margin-bottom: 0px;
    margin-left: 0px; 
    font-size: 28px;
    
    color: #555555;

}

.header-text{
    width: 680px;
    margin-left: 160px;
    margin-right: 00px;
    line-height: 35px;
}

.about-me{
    margin-top: 100px;
    font-size: 18px;
    margin-left: 150px;
    margin-bottom: 100px;
    color: #555555;
}

.about-me-image{
    scale: 75%;
    max-width: 100%;
    height: auto;
}

.about-me-text2{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    line-height: 35px;
    /*border: 1px solid black;*/
}

/*.home-icon-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 200px;
    padding-bottom: 200px; 
    font-size: 28px;
}*/

#music{
    height: 100%;
    color: #707070;
    padding-top: .55rem;

}

#film-scoring-exercises{
    height: 100%;
    color: #707070;
    padding-top: .55rem;
}


#photography{
    height: 100%;
    color: #707070;
    padding-top: .55rem;
}

.coming-soon{
    padding-top: 500px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;

}

/*-----------------------------------MUSIC-----------------------------------------*/

#music{
    margin-left: 150px;
    font-size: 15px;
}

.musicdescriptor{
    border-top: 1px solid #707070;
    height: 150px;
    padding-top: 5px;
}

.musicplayer-container{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    height: 180px;
}

/*.musicplayer-text{
    display: flex;
    
}

.musicplayer{
    border: 1px solid #707070;
    border-radius: 3px;
    height: 250px;
    display: grid;
}

.volumeslider-container{
    border: 1px solid #707070;
    border-radius: 0px;
    width: 65px;
    height: 250px;
    justify-content: center;
    align-content: center;
    
}

.volumeslider{
    position: relative;
    border: 1px solid #707070;
    border-radius: 0px;
    width: 6px;  
    height: 200px;
    -webkit-appearance: slider-vertical none;
}

.playbutton-container{
    border: 1px solid #707070;
    border-radius: 0px;
    width: 45px;
    height: 45px;
    align-content: center;
    justify-content: center;
}

.stopbutton-container{
    border: 1px solid #707070;
    border-radius: 0px;
    width: 45px;
    height: 45px;
    align-content: center;
    justify-content: center;
}*/

.player{
    max-width: auto;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.musicarrow{
    float: right;
    padding-right: 5px;
}

.musicarrow2{
    display: none;
    float: right;
    padding-right: 10px;
    transform: rotate(-90deg);
}

/*-----------------------------------FILMSCORING-----------------------------------*/

#film-scoring-exercises{
    margin-left: 150px;
    font-size: 15px;
}

.videodescriptor{
    border-top: 1px solid #707070;
    line-height: 20px;

}

.videoplayer-container{
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    height: 480px;
}

.video{
    width: 100%;
    height: 100%;
}


/*-----------------------------------PHOTOGRAPHY-----------------------------------*/

#photography{
    margin-left: 150px;
    font-size: 15px;
}

.spansixphoto{
    object-fit: cover;
}

.sticky-section-title{
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 35px;
    width: 340px;
    line-height: 22px;
    font-size: 18px;
    /*border: 1px dashed #707070;
    border-radius: 3px;*/
    padding-bottom: 10px;
}

/*-------------------------------------OTHER---------------------------------------*/

/*      mobile formatting       */

@media (max-width:1550px){
    .sticky-section-title {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 255px;
        padding-right: 10px;
        padding-left: 0px;
    }
}

@media (max-width:1210px){
    .sticky-section-title {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 200px;
        padding-right: 10px;
        padding-left: 0px;
    }
    .musicarrow{
        display:none;
    }
}

@media (max-width:1050px){

    .title {
        font-size: 40px;
    }

    .music-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
    .film-scoring-exercises-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
    .photography-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
}

@media (max-width:900px){

    .headercontainer{
        height: 120px;
        justify-content: center;
    }
    .header-title{
        width: 100%;
    }
    .title {
        font-size: 40px;
    }
    .navlist {
        width: 100%;
        max-width: 600px;
        justify-content: space-evenly;
    }
    .music-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
    .film-scoring-exercises-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
    .photography-container{
        width: 150px;
        font-size: 18px;
        scale: 80%;
    }
    .nav-button{
        display: none;
    }
    .nav-container{
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 120px;
        height: 100px;
        flex-direction: column;
        align-items:end;
        /*border: 1px dashed #707070;
        border-radius: 3px;*/
        /*-webkit-transform: rotate(90deg);*/
    }
    .coffeeicon{
        padding: 0;
    }
    .home-text-container{
        margin-top: 195px;
    }
    .header-text {
        font-size: 21px;
        margin-left: 30px;
        margin-right: 30px;
        line-height: 28px;
    }

    .about-me-image{
        scale: 50%;
        max-width: 100%;
        height: auto;
    }

    .about-me{
        margin-left: 30px;
        margin-right: 14px;
    }

    .about-me-text2{
        line-height: 28px;
    }

    .sticky-section-title {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        max-width: 300px;
        padding-right: 10px;
        padding-left: 0px;
        top: 10px;
    }

    .reveal.active{
        left: 5px;
        width: 70px;
    }

    .side-menu{
        padding: 5px, 5px;
    }
    #music{
        margin-left: 105px;
    }
    .musicplayer-container{
        /*border: 1px dashed #707070;
        border-radius: 3px;*/
        height: 100px;
    }
    .musicarrow2{
        display: inline;
    }
    #film-scoring-exercises{
        margin-left: 105px;
    }
    #photography{
        margin-left: 105px;
    }
}

@media (max-width:435px){
    .home-text-container{
        margin-top: 160px;
    }
    .header-text{
        font-size: 18px;
    }
}

@media (max-width:370px){
    
    .navlist{
        width: 100%;
        justify-content: center;
    }
    .music-container{
        width: 150px;
        font-size: 18px;
        scale: 60%;
    }
    .film-scoring-exercises-container{
        width: 150px;
        font-size: 18px;
        scale: 60%;
    }
    .photography-container{
        width: 150px;
        font-size: 18px;
        scale: 60%;
    }
    .sticky-section-title {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        max-width: 300px;
        padding-right: 10px;
        padding-left: 0px;
        font-size: 15px;
    }

}

/*    grid info     */

.grid-container {
    max-width: auto;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: 899px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  }
  
  @media (min-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(162px, max-content);
    }
    .col-span-twelve { grid-column: span 12; }
    .col-span-nine { grid-column: span 9; }
    .col-span-six { grid-column: span 6; }
    .col-span-five { grid-column: span 5; }
    .col-span-four { grid-column: span 4; }
    .col-span-three { grid-column: span 3; }
    .col-span-two { grid-column: span 2; }
    .row-span-three { grid-row: span 3; }
    .row-span-two { grid-row: span 2; }
  }

/*    side fixed menu    */

.side-menu{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 20px;
    top: 150px;
    left: 25px;
    padding: 10px 10px;
    color: #707070;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    z-index: 10;
}

.reveal{
    position: sticky;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 0.7s ease;
}

.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}
/*     scroll to top    */

.scrollTop{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    top: 25px;
    left: 25px;
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #70707000;
    color: #707070;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-radius: 1px solid #dadada;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.footercontainer{
    text-align: right;
    gap: 0px;
    width: 100%;
    height: 185px;
    margin-bottom: 0px;
    padding-right: 0px;
    margin-right: 0rem;
    background-color: #444f66;
    
}

.footercontent{
    text-align: right;
    align-items: right;
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
    color: #eeeeee;
}

.footer-text{
    padding-top: 5px;
    padding-right: 5px;

}

.coffeeiconfooter{
    
    padding-right: 0px;
}

/*.scrollTop:hover{
    background-color: #707070;
    color: #dadada;
}*/

/*   dark mode(?)   */

/*label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
    color: #707070;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #707070;
    cursor: pointer;
    transition: 0.8s;
}
label.active:before{
    left: 24px;
    background: #707070;
}
body.night{
    background: #444444;
    color: #dadada;
}*/

